body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* css for appbar */

.place {
    margin-top: 10px;
}


/* css for dashboard */

.dashboard {
    width: 90vw;
    margin: auto;
    margin-top: 3vh;
}

.high {
    height: 75vh;
}


/* css for Tile */

.square {
    height: 3.2vw;
    width: 3.2vw;
    margin: 0.1vw;
    padding: 0;
    overflow: hidden;
}

.current {
    animation-name: ripple-animation;
    animation-duration: 0.4s;
    height: 100%;
    width: 100%;
    background-color: #80DEEA;
}

.wall {
    height: 100%;
    width: 100%;
    background-color: #00BCD4;
}

.previous {
    height: 30%;
    width: 30%;
    background-color: #80DEEA;
    border-radius: 50%;
    margin-left: 35%;
    margin-top: 35%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.start {
    height: 100%;
    width: 100%;
    background-color: #FFEB3B;
}

.finish {
    height: 100%;
    width: 100%;
    background-color: #FFEB3B;
}

@keyframes ripple-animation {
    from {
        transform: scale(0.2);
        opacity: 0.4;
        border-radius: 50%;
        background-color: #80DEEA;
    }
    to {
        transform: scale(2);
        opacity: 1;
        border-radius: 50%;
        background-color: #80DEEA;
    }
}


/* css for button */

.button {
    margin-top: 35vh;
}


/* css for tabs */

.box {
    background-color: #80DEEA;
    height: 65vh;
}


/* css for step */

.step {
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 50%;
}

.step-enter {
    opacity: 0.01;
    transform: translateX(-20%);
}

.step-enter-active {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    animation: slide-in 500ms ease-out forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(-20%);
    }
    to {
        transform: translateX(0%);
    }
}

.step-leave {
    opacity: 1;
    transform: translateX(0%);
}

.step-leave-active {
    opacity: 0.01;
    -webkit-transition: opacity 500ms ease-out;
    -moz-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
    animation: slide-out 500ms ease-out forwards;
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(20%)
    }
}


/* css for steps */

.steps {
    margin: auto;
}