body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* css for dashboard */

.dashboard {
    width: 80%;
    margin: auto;
    margin-top: 5em
}

.high {
    height: 50em;
}


/* css for Tile */

.square {
    height: 4em;
    width: 4em;
    margin: 0.1em;
    padding: 0;
    overflow: hidden;
}

.ripple-effect {
    animation-name: ripple-animation;
    animation-duration: 0.2s;
    height: 100%;
    width: 100%;
    background-color: #80DEEA;
}

@keyframes ripple-animation {
    from {
        transform: scale(0.2);
        opacity: 0.4;
        border-radius: 50%;
    }
    to {
        transform: scale(2);
        opacity: 1;
        border-radius: 50%
    }
}


/* css for button */

.center-vertical {
    margin-top: 22em;
}